<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 解决SpringMVC里面统一的配置 -->

	<!-- 激活MVC的注解支持，使用默认的设置 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 负责把Java对象和JSON对象之间转换的转换器，依赖jackson -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper" />
			</bean>
			<!-- 负责把Java对象和XML之间转换的转换器，也是依赖jackson -->
			<bean
				class="org.springframework.http.converter.xml.MappingJackson2XmlHttpMessageConverter">
				<property name="objectMapper" ref="xmlMapper" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="objectMapper"
		class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean" />

	<bean id="xmlMapper" parent="objectMapper">
		<property name="createXmlMapper" value="true"></property>
	</bean>

	<!-- 如果有静态的HTML、JS、CSS等文件，就不会把请求转发给Action（Controller），而是直接返回资源的内容 -->
	<mvc:default-servlet-handler />

	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/auth" />
			<mvc:exclude-mapping path="/code" />
			<bean class="org.fkjava.oa.identity.action.LoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/auth" />
			<mvc:exclude-mapping path="/auth/logout" />
			<mvc:exclude-mapping path="/code" />
			<mvc:exclude-mapping path="/home" />
			<mvc:exclude-mapping path="/index" />
			<bean class="org.fkjava.oa.identity.action.AuthInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>