/*内容部样式  B*/

/*地图样式*/
section#map{
	margin-top: 30px;
	font-size: 0;
	-webkit-text-size-adjust: none;
}
div#map_address{
	display: inline-block;
	vertical-align: top;
	width: 770px; 
	height: 700px;
}
.BMap_bubble_title {
	line-height: 28px;
    font-size: 16px;
    font-weight: bold;
}
div#info_adress{
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 380px;
	height: 200px;
}
.company{
	width: 360px;
	padding: 20px 0 20px 20px;
	box-shadow: 1px 1px 2px 4px #e0e6ec;
}
.company h3{
	color: #333;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}
.company ul li {
	padding: 6px 5px;
	line-height: 24px;
	font-size: 14px;
}
.kf_service{
	width: 360px;
	margin-top: 40px;
	padding: 20px 0 20px 20px;
	box-shadow: 1px 1px 2px 4px #e0e6ec;
}
.kf_service h3{
	color: #333;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}
.kf_service ul{
	width: 180px;
	display: inline-block;
	vertical-align: top ;
}
.kf_service ul li {
	padding: 6px 5px;
	line-height: 24px;
	font-size: 14px;
}
.kf_service .kfwx{
	margin: 0 10px;
	width: 144px;
	height: 144px;
	display: inline-block;
	vertical-align: top ;
}
.kfwx img{
	width: 144px;
	height: 144px;
}
/*内容部样式  E*/