section#link{
	margin-top: 15px;
	width: 100%;
	font-size: 0;
	-webkit-text-size-adjust: none;
}
section#link li{
	text-align: center;
	margin-top: 30px;
	width: 160px;
	height: 90px;
	margin-right: 45px;
	display: inline-block;
	vertical-align: top;
}
section#link li:nth-of-type(6n+6){
	margin-right: 0px;
}
section#link li a{
	text-decoration: none;
	color: #333;
}
section#link li picture{
	display: block;
	width: 160px;
	height: 70px;
	border: 1px solid #ccc;
}
section#link li span{
	display: block;
	margin-top: 10px;
	font-size: 14px;
}
