/*头部样式  B*/
.nav li:nth-child(1){
				background-color: rgba(9, 117, 36, 0.61);
			}
/*头部样式  E*/

/*内容部样式  B*/
/*轮播图的样式b*/
section#carousel{
    box-shadow: 1px 4px 15px #A39F9F;
}
@media screen and (max-width:1216px) {
	section#carousel{
		width: 1200px;
	}
}
div.wrap a{
    color:#fff;
}
div#slide-holder {
    width : 100%;
    height : 600px;
}
@media screen and (max-width: 1216px){
	div#slide-holder {
    width : 1200px;
    height : 600px;
  }
}
div#slide-runner {
    width : 100%;
    height : 600px;
    overflow : hidden;
    position : absolute;
}
@media screen and (max-width: 1216px){
	div#slide-runner {
    width : 1200px;
    height : 600px;
    overflow : hidden;
    position : absolute;
}
}
div#slide-holder img {
	width: 100%;
	height: 600px;
    margin : 0;
    display : none;
    position : absolute;
}
div#slide-controls {
    left : 0;
    bottom : 0px;
    width : 100%;
    height : 46px;
    display : none;
    position : absolute;
}
div#slide-controls p.text {
    float : left;
    color : #bdd21d;
    display : inline;
    font-size : 10px;
    line-height : 16px;
    margin : 15px 0 0 20px;
    text-transform : uppercase;
}
p#slide-nav {
    float : right;
    height : 24px;
    display : inline;
    margin : 11px 15px 0 0;
}
p#slide-nav a {
    float : left;
    width : 24px;
    height : 24px;
    display : inline;
    font-size : 11px;
    margin : 0 5px 0 0;
    line-height : 24px;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    background-position : 0 0;
    background-repeat : no-repeat;
}
p#slide-nav a.on {
    background-position : 0 -24px;
}
p#slide-nav a {
    background-image : url(../img/silde-nav.png);
}
/*轮播样式 e*/

#content{
	margin-top: 20px;
}
#content *{
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
#content li{
	width: 370px;
	height: 300px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-left: 22px;
	box-shadow: 1px 4px 15px #A39F9F;
}
#content li img{
	width: 380px;
	height: 300px;
}
#content li:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#content li:hover .word{
	top:10px;
}
#content li:last-child{
	margin-right:24px;
}
#content li a{
	display: block;
	position: relative;
}
#content .word{
	position: absolute;
	top:30px;
	left: 20px;
	font-size: 24px;
	color: #777;
}
/*内容部样式  E*/

/*尾部样式  B*/

/*尾部样式  E*/